@charset "UTF-8";
/**
 * RESET stylesheet
 * This stylesheet reset the default styles of all tag in all browsers, it's a very hardcore reset
 * Based on the work of Eric Meyer, Richard Clark and some personal experiences
 * http: //meyerweb.com/eric/tools/css/reset/ | https: //code.google.com/p/html5resetcss/
 * @version 2.0
 */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
a, hr,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  background: transparent;
  box-sizing: border-box; //ie8+
  font-size: 100%;
  font-weight: normal;
  margin: 0;
  padding: 0;
  outline: 0;
  vertical-align: baseline;
}
input:not([type="radio"]),
input:not([type="checkbox"]),
select,
textarea {
  box-sizing: border-box; //ie8+  
}
/**
 * @note  HTML5 display-role
 * @css-for older browsers
 */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
a img {
  border: none;
  display: block;
}
li {
  list-style: none;
}
hr {
  border: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
caption, th, td {
  text-align: left;
}
/*
 * @section text
 */
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
ins {
  text-decoration: none;
}
/**
 * @section forms
 */ 
input, select {
  vertical-align:middle;
}
/**
 * @note  Remember to define focus styles in the form partial file
 */ 
:focus {
  outline: none;
}
/**
 * @section    Fonts
 */
@font-face {
  font-family: "hackaton";
  src:url("../fonts/hackaton.eot");
  src:url("../fonts/hackaton.eot?#iefix") format("embedded-opentype"),
    url("../fonts/hackaton.woff") format("woff"),
    url("../fonts/hackaton.ttf") format("truetype"),
    url("../fonts/hackaton.svg#hackaton") format("svg");
  font-weight: normal;
  font-style: normal;

}
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "hackaton" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-kass-dolor:before {
  content: "a";
}
.icon-home:before {
  content: "b";
}
.icon-labore:before {
  content: "c";
}
.icon-bananaaaa:before {
  content: "d";
}
.icon-three-bars:before {
  content: "e";
}
/**
 * @section    workaround and bugfix
 */
.header:after,
.main-menu:after {
  clear: both;
  content: '';
  display: table;
}
/**
 * @section    structure
 */
body {
  font: 16px/1.3em 'Open Sans', sans-serif;
  padding: 2%;
}
header,
section,
footer {
  position: relative;
}
/**
 * @section    header
 */
.header {
  margin-bottom: 2em;
  text-align: right;
  z-index: 40;
}
.header h1 {
  float: left;
  max-width: 150px;
  text-align: left;
  width: 20%;
}
/**
 * @section    main menu / nav
 */
.main-menu {
  bottom: 0;
  position: absolute;
  right: 0;
  text-align: right;
  white-space: nowrap;
}
.main-menu li {
  display: inline-block;
  position: relative;
}
.main-menu li + li {
  margin-left: 2em;
  padding-left: 2em;
}
.main-menu li + li:before {
  border-left: solid 1px #ccc;
  content: '';
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
}
.main-menu a {
  color: #666;
  display: block;
  height: 100%;
  text-decoration: none;
  width: 100%;
}
.main-menu a:hover {
  color: #333;
}
.main-menu button {
  display: none;
}
/**
 * @section    content
 */
.box {
  float: left;
  text-align: justify;
  margin-bottom: 2em;
  position: relative;
  width: 32%;
  z-index: 20;
}
.box + .box {
  margin-left: 2%;
}
.box h2 {
  margin-bottom: 1em;
  text-align: center;
}
.box h2 i:before {
  display: block;
  font-size: 2em;
  margin-bottom: .5em;
}
/**
 * @section    footer
 */
.footer {
  clear: both;
}
/**
 * @section    smartphone
 */
@media screen and (max-width: 767px) {
  .main-menu {
    width: 50%;
  }
  .main-menu button {
    display: block;
    float: right;
    overflow: hidden;
    white-space: nowrap;
    width: 2em;
  }
  .main-menu button:before {
    margin-right: 100%;
  }
  .main-menu button:hover + ul,
  .main-menu button:focus + ul {
    display: block;
  }
  .main-menu ul {
    background: #ccc;
    display: none;
    padding: 5%;
    position: absolute;
    top: 100%;
    width: 100%;
  }
  .main-menu li {
    display: block;
    text-align: left;
  }
  .main-menu li + li {
    margin: 0;
    padding: .5em 0 0 0;
  }
  .main-menu li + li:before {
    content: none;
  }
  .box {
    width: 100%;
  }
  .box + .box {
    margin-left: 0;
  }
}
